@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
  background-color: #6489F0;  
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
/*container*/
.container{
    box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    height: 310px;
    border-radius: 10px;
    margin: 0px;
    padding: 35px 50px;
    width: 300px;
    background-color: white;
  animation-name: entrada;
  animation-duration: 1.2s;
    
}

@keyframes entrada{
    from{transform: scale(0);} 
    to{transform: scale(1); }
}

@media (max-width:800px){
    body{
        margin-top: 40%;
    }
}

/*-------------*/

.sucesso{
   margin-top: 20px ;
    

    }
.sucesso p{
    text-align: center;
    font-size: 24px;
    margin: 10px 5px;
    
}

.container--button{
    display: flex;
    justify-content: center ;
    margin-top: 18px;
}
/*button voltar*/
button{
    height:40px;
    width:203px;
    background:#6489F0;
    border:1px solid #fff;
    border-radius: 5px;
    font-size: 18px;

}
button:hover{
    transition-duration:0.7s;
    border: 1px solid #6489F0;
    background-color: #fff;
}
button:active{
    transition-duration:0.7s;
    border: 1px solid #6489F0;
    background-color: #fff;
}
/*-------------*/

.erro{
    width: 200px;
    
    margin-top: 40px;
}
.erro p{
    font-size: 20px;
}
.erro h2{
    color: red;
    margin-right: 0px;
}

